@charset "ISO-8859-1";



.tabla {
	overflow: scroll;
	background: white;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 98%;
	height: 450px;
	
}
#tablahorarios,#tablaroles{
	
	text-align: center;
}
.crud {
	position: absolute;
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	width: 22%;
	height: 280px;
}

.crudProductos {
	position: absolute;
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	width: 22%;
	height: 380px;
}


label {
	border-bottom: 1px solid #19191a;
	color: white;
	padding-bottom: 8px;
}

input, #combo {
	width: 95%;
}

#nombre {
	padding-top: 5px;
}

#EDITAR {
	margin-left: 90%;
	background: white;
	
}

tr {
	cursor: pointer;
	transition: all .25s ease-in-out
}

.menu {
	
	background: white;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 20%;
	
}

.contenedor {
	position: absolute;
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	width: 77%;
	height: 92%;
}

